<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ExternalBookingDB"
		connectionString="Server=mssql-50861-0.cloudclusters.net,16277; Database=BookingTest; User ID=SuperUser; Password=SuperSuper1"
		providerName="System.Data.SqlClient"/>
		<add name="LocalBookingDB"
		connectionString=""
		providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>